REDIS_HOST=localhost
REDIS_PORT=6379

# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=sermocinari_user
POSTGRES_PASSWORD=strongpassword123
POSTGRES_DB=sermocinari

# Application Port (Optional, but commonly used if your app reads it)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
PORT=4000
JWT_SECRET=your-long-random-secret
GMAIL_USER=
GMAIL_PASSWORD=



JWT_EXPIRATION_TIME=3600
CLIENT_URL=http://localhost:5173
MAIL_FROM_ADDRESS=
MAIL_REPLY_TO=